@model ENAC_IT_BUDGET.ViewModels.VariablesTableauViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";



    //var budget = Model.Budget;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Budget</title>
</head>
<body>
    <h1>@ViewBag.Message</h1>
    <table>
        <tr>
            <th>Budget</th>
            <th>Transfert</th>
            <th>Engagé</th>
            <th>Solde Budget</th>
        </tr>
        <tr>
            <td>@ViewBag.octroisCorrige</td>
            <td>@ViewBag.sumTransferts</td>
            <td>@ViewBag.sumCommandes</td>
            <td>@ViewBag.sumBudget</td>
        </tr>
    </table>
    <div>

    </div>
</body>
</html>
